<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020007371342-emq1ndmcffja0itk6qi3hq6e09btb52c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020007371342-emq1ndmcffja0itk6qi3hq6e09btb52c</string>
	<key>API_KEY</key>
	<string>AIzaSyAv78BZhyr0F3AwZlYTZaLUmw-6BtyIJmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020007371342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techvillage</string>
	<key>PROJECT_ID</key>
	<string>techvillage-91948</string>
	<key>STORAGE_BUCKET</key>
	<string>techvillage-91948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020007371342:ios:e3462b96bd5d066b23e91f</string>
</dict>
</plist>